__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.mypy_cache/
.DS_Store
.vscode/
.idea/
*.log
*.apk
*.xapk
*.apks
*.pem
*.key
*.p12
*.jks
*.keystore
token_pref*.xml
last_*response*.json
last_*debug*.json
reverse/
